<div id="output">
    <h1> Tienda de ropa </h1>
    <div class="card-container">
        <ul>
            {{#each products}}
                <li>
                    <h3>{{this.title}}</h3>
                    <p>description: {{this.description}}</p>
                    <p>code: {{this.code}}</p>
                    <p>price: ${{this.price}}</p>
                    <p>stock: ${{this.stock}}</p>
                    <p>category: {{this.category}}</p>
                    <p>id: {{this.id}}</p>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
